*{
	font-family: '"Microsoft YaHei", Arial, Helvetica, sans-serif';
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
html, body{
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
}
body{
	min-width: 320px;
}
.wrap{
	position: relative;
  top: 60px;
  /*margin-top: 60px;*/
}
/*html{
	font-size: 62.5%;
}*/
@media screen and (min-width: 320px) {
	html{
		font-size: 14px;
	}
}
@media screen and (min-width: 414px) {
	html{
		font-size: 16px;
	}
}
@media screen and (min-width: 768px) {
	html{
		font-size: 18px;
	}
}
@media screen and (min-width: 1024px) {
	html{
		font-size: 18px;
	}
}
@media screen and (min-width: 1280px) {
	html{
		font-size: 20px;
	}
}
@media screen and (min-width: 1366px) {
	html{
		font-size: 22px;
	}
}
@media screen and (min-width: 1440px) {
	html{
		font-size: 24px;
	}
}
@media screen and (min-width: 1600px) {
	html{
		font-size: 26px;
	}
}
@media screen and (min-width: 1920px) {
	html{
		font-size: 32px;
	}
}
.CursorPointer{
	cursor: pointer;
}
hr{
	border-color: #e0b32b;
  border-width: 2px;
  max-width: 50px;
}
p{
	font-size: 0.75rem !important;
	text-indent: 2rem !important;
  padding: 0 !important;
  line-height: 2rem !important;
}
li p{
	text-indent: 0 !important;
}
.columnTitWhiite{
  font-size: 2rem !important;
  margin:  3rem 0 !important;
  color: #fff;
}
.columnTit{
  font-size: 2rem !important;
  margin:  3rem 0 !important;
  text-align: center;
}
/*padding top 0*/
.sectionWrap{
	padding: 0rem 2rem 3rem 2rem;
	overflow: hidden;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.el-submenu__title{
	font-size: 20px !important;
}
.el-carousel__container{
	/*height: 100% !important;*/
}
/*TextAlign*/
.TextAlign_L{
	text-align: left !important;
}
.TextAlign_R{
	text-align: right !important;
}
.TextAlign_C{
	text-align: center !important;
}
/*margin*/
.MarginTB_80{
	margin: 5rem 0 !important;
}
.MarginT_80{
	margin-top: 5rem !important;
}
.MarginT_10{
	margin-top: 10px !important;
}
.MarginB_80{
	margin-bottom: 5rem !important;
}
.MarginTB_5{
	margin: 5rem 0 !important;
}
.MarginTB_2{
	margin: 2rem 0 !important;
}
.Padding_1{
	padding: 1rem !important;
}

/**/
.WhiteBgBar{
	background: #fff;
}
.WhiteBgBar .el-menu--horizontal>.el-menu-item{
	color: #909399;
}
.WhiteBgBar .el-menu--horizontal>.el-submenu .el-submenu__title{
	color: #909399;
}
.TransparentBgBar{
	background: transparent;
}
.TransparentBgBar .el-menu--horizontal>.el-menu-item{
	color: #fff;
}
.TransparentBgBar .el-menu--horizontal>.el-submenu .el-submenu__title{
	color: #fff;
}


.el-dropdown-menu__item--divided:before, .el-menu, .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover{
	background: transparent;
}
.el-menu--horizontal>.el-menu-item.is-active{
	color: #000 !important;
	border-bottom: 2px solid #e0b32b;
	font-weight: bold;
	background: #e0b32b;
}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
	color: #000 !important;
	border-bottom: 2px solid #e0b32b;
	font-weight: bold;
	background: #e0b32b;
}
.el-menu-item:focus{
	background-color: #e0b32b !important;
}
/*video*/
.vjs_video_3-dimensions{
	width: 100% !important;
	height: 100% !important;
}
.video-js .vjs-big-play-button{
	top: 45% !important;
	left: 45% !important;
	transform: translate(-50%，-50%) !important;
}
.video-js{
	width: 100% !important;
	height: 100% !important;
}
/*input*/
.el-input__inner{
	border: 0px solid #fff;
}
.el-message--warning{
	z-index:9999999 !important;
}
/*process*/
