*{
	font-family: '"Microsoft YaHei", Arial, Helvetica, sans-serif';
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
html, body{
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
}
/*html{
	font-size: 62.5%;
}*/
@media screen and (min-width: 320px) {
	html{
		font-size: 14px;
	}
}
@media screen and (min-width: 414px) {
	html{
		font-size: 16px;
	}
}
@media screen and (min-width: 768px) {
	html{
		font-size: 18px;
	}
}
@media screen and (min-width: 1024px) {
	html{
		font-size: 18px;
	}
}
@media screen and (min-width: 1280px) {
	html{
		font-size: 20px;
	}
}
@media screen and (min-width: 1366px) {
	html{
		font-size: 22px;
	}
}
@media screen and (min-width: 1440px) {
	html{
		font-size: 24px;
	}
}
@media screen and (min-width: 1600px) {
	html{
		font-size: 26px;
	}
}
@media screen and (min-width: 1920px) {
	html{
		font-size: 32px;
	}
}
p{
	font-size: 0.75rem !important;
	text-indent: 2rem !important;
  padding: 0 !important;
  line-height: 2rem !important;
}
li p{
	text-indent: 0 !important;
}
.columnTitWhiite{
  font-size: 2rem !important;
  margin:  3rem 0 !important;
  color: #fff;
}
.columnTit{
  font-size: 2rem !important;
  margin:  3rem 0 !important;
  text-align: center;
}
/*padding top 0*/
.sectionWrap{
	padding: 0rem 2rem 3rem 2rem;
	overflow: hidden;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.el-submenu__title{
	font-size: 20px !important;
}
.el-carousel__container{
	/*height: 100% !important;*/
}
/*TextAlign*/
.TextAlign_L{
	text-align: left !important;
}
.TextAlign_R{
	text-align: right !important;
}
.TextAlign_C{
	text-align: center !important;
}
/*margin*/
.MarginTB_80{
	margin: 5rem 0 !important;
}
/**/
.el-menu--horizontal>.el-menu-item.is-active{
	border-bottom: 2px solid #e0b32b;
	/*border-bottom: 2px solid #fff200;*/
	font-weight: bold;
	background: #e0b32b;
	/*background: #fff200;*/
}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
	border-bottom: 2px solid #e0b32b;
	font-weight: bold;
	background: #e0b32b;
}
.el-menu-item:focus{
	background-color: #e0b32b !important;
}